@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700|Staatliches&display=swap");
$black: #000000;
$pink: #bf0b6e;
$top: 48%;

::selection,
::-moz-selection {
	background: $black;
	color: #fff;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.rect-main {
	width: 290px;
	height: 290px;
	position: absolute;
	top: $top;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	g g rect {
		fill: none;
		stroke: #000;
		stroke-miterlimit: 10;
		stroke-width: 3px;
		transform: translate(119.6px, 0) rotate(45deg) scale(0.7);
	}
}

#rect-landing {
	position: absolute;
	top: $top;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 110vh;
	opacity: 0;
}

.line-main {
	fill: none;
	stroke: #000;
	stroke-miterlimit: 10;
	stroke-width: 3pt;
}

.line-short {
	stroke-dasharray: 4 1000;
}

.line-long {
	opacity: 0;
	stroke-dasharray: 4 1000;
}

#landing-center-wrapper {
	font-family: "Staatliches";
	position: absolute;
	top: $top - 0.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;

	h1 {
		display: inline-block;
		margin: 0;
		padding: 0;
		letter-spacing: 2px;
		text-align: center;
	}

	span {
		display: inline-block;
		position: relative;
		width: 3px;
		height: 18pt;
		margin: -1px 0;
		background: $pink;
		animation: blink 0.7s infinite ease-in-out;
		opacity: 1;
	}
}

.sm-wrapper {
	position: absolute;
	bottom: 1.5%;
	left: 1%;
	opacity: 0;

	i {
		margin: 10px;
		font-size: 2rem;
		cursor: pointer;
		transition: 0.1s all ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.lang-selector {
	position: absolute;
	bottom: -3%;
	right: 2%;
	opacity: 0;
	cursor: pointer;

	h3 {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-family: "Oswald";
		font-weight: 600;
		font-size: 1.8rem;
		transition: 0.1s all ease-in-out;

		&:nth-child(2) {
			opacity: 0;
			transform: none;
			color: $pink;
		}
	}
	&:hover {
		h3 {
			transform: none;
			&:nth-child(1) {
				opacity: 0;
				transform: translateY(-100%);
			}
			&:nth-child(2) {
				opacity: 1;
				transform: translateY(-100%);
			}
		}
	}
}

.night-selector {
	width: 40px;
	position: absolute;
	bottom: 1.5%;
	right: 7%;
	transform: translateX(50%);
	opacity: 0;
	cursor: pointer;
	transition: 0.05s all ease-in-out;
	transform-origin: center;
	z-index: 2;
	.ns-moon {
		stroke-linejoin: round;
		fill: none;
		stroke-width: 3px;
	}

	.ns-line {
		fill: none;
		stroke-width: 3px;
		stroke-linecap: round;
		stroke-miterlimit: 10;
	}

	&:hover {
		.ns-line,
		.ns-moon {
			stroke: $pink;
		}
		.nightswitch {
			transform: scale(1.05);
		}
	}
}

.nightswitch-colored g g * {
	stroke: $pink;
}
.nightswitch-gray g g * {
	stroke: $black;
}

.nightswitch-tooltip {
	position: absolute;
	bottom: calc(1.5% + 20px);
	right: 7%;
	transform: translateX(50%);
	text-align: center;
	text-transform: uppercase;
	font-family: "Oswald";
	font-weight: 300;
	letter-spacing: 1px;
	z-index: 1;
	opacity: 0;
	transition: 0.1s ease-in-out;
}

.night-selector:hover + .nightswitch-tooltip {
	bottom: calc(1.5% + 45px);
	opacity: 1;
}

.ctrl {
	position: absolute;
	top: $top;
	transform: translateY(-50%);
	width: 30px;
	height: 4rem;
	transition: 0.1s all ease-in-out;
	cursor: pointer;
	opacity: 0;
	&:hover {
		width: 200px;
		p,
		span {
			opacity: 1;
		}
	}
	i {
		font-size: 4rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	span {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 2px;
		width: 28px;
		opacity: 0;
		background: #000;
	}

	p {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
		padding: 0;
		opacity: 0;
		font-family: "Oswald";
		font-weight: 200;
		font-size: 2rem;
		text-transform: uppercase;
		transition: 0.1s all ease-in-out;
	}
}

.ctrl-left {
	left: 3%;
	i {
		left: 0;
	}
	span {
		left: 28%;
	}
	p {
		right: 0;
		text-align: right;
	}
}

.ctrl-right {
	right: 3%;
	i {
		right: 0;
	}
	span {
		right: 28%;
	}
	p {
		left: 0;
		text-align: left;
	}
}

.dots-wrapper {
	position: absolute;
	bottom: 3%;
	left: 51%;
	transform: translateX(-50%);
	opacity: 0;
}

.dot {
	display: inline-block;
	height: 9pt;
	width: 9pt;
	margin: 2pt;
	border: 1.5pt solid $black;
	border-radius: 500px;
	cursor: pointer;
	transition: 0.15s all ease-in-out;
	background: white;
}

.dot-active {
	background: $black;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
